body {
    background: #0c0c0c;
    color: #eee;
    font-family: sans-serif;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    --accent-color: #D49C00;
    --accent-color2: rgb(148, 89, 207);

    --global-font-color: #eee;
}

p {
    margin-top: 0;
}

footer {
    padding: 40px 20px;
    color: rgb(78, 78, 78);
    background: #111111;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

main {
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

header {
    background: #1c1c1c;
    border-bottom: 1px solid #2c2d2c;
    position: relative;
}

.inner-header {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: system-ui, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.card {
    padding: 20px;
    border: 1px solid #252525;
    border-radius: 6px;
    margin-bottom: 20px;
    background: #1c1c1c;
}

.card.feautre {
    color: #333;
    background: var(--accent-color);
    font-weight: 600;
}

.card.transparent {
    font-weight: 600;
    opacity: 0.5;
}

.card.button {
    cursor: pointer;
    transition: opacity .05s ease-out;
    user-select: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.button:hover {
    opacity: 0.75;
}

.card.button:active {
    transform: scale(0.98);
    background: #252525;
}

.card-title {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #eee;
    font-size: 16px;
    font-weight: 500;
}

a[href] {
    color: inherit;
    text-decoration: none;
}

/* Configure */

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-list .card {
    flex: none;
    margin: 5px;
}

.card.config {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(26px + 20px);
}

.delete-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.delete-btn:hover {
    background: rgb(65, 26, 26);
}
.delete-btn:active {
    background: rgb(114, 43, 43);
}

.delete-btn .material-icons {
    color: white;
    font-size: 16px;
    opacity: 0.5;
}
